body 
{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cabecera ul 
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  
}

#cabecera ul li {
    text-decoration: none;
}